*.exe
*.pdb
*.suo
*.cache
*.Cache
*.txt
Seguros American/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Seguros American/obj/Debug/Seguros American.csproj.GenerateResource.Cache
Seguros American/obj/*.*
*.dll
*.cache